/* header {
  background-color: pink;
} */

/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  width: 1000px;
  font-family: "MuseoModerno", cursive;
  /* background: #1b2127; */
}
.header {
  background-color: #f4f6f9;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; /* Tomo 86px pues es la medida del height de la imagen logo */
}

.header a {
  color: black;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-family: "MuseoModerno", cursive;
}
a:hover {
  border-top: 2px solid black;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  /* .header ol li hereda de .header ol */
  height: inherit;
}

.menu {
  /* .menu hereda de .header */
  height: inherit;
}

h1 {
  font-size: 40px;
  font-family: "MuseoModerno", cursive;
  /* font-weight: 300; */
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0px;
  padding-left: 20px;

  /* text-transform: none; */
  /* text-decoration: underline; */
}
h1 strong {
  color: #f4f6f9;
}

h2 {
  color: black;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "MuseoModerno", cursive;
  text-align: center;
}

.hero {
  height: 300px;
  background-image: url(../images/dedo.jpg);
  background-color: #1b2127;
  /* background-size: 220px 300px;
  background-repeat: no-repeat;
  background-position-x: right; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-image {
}

.portfolio {
  background-color: #fafafa;
  /* padding: 20px; */
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  border-top-left-radius: 50px;
  padding: 20px;
  /* margin: 10px; */
  margin-bottom: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
/* .project-date {
  margin: 10px 0;
} */

.project-description {
  font-size: 20px;
}
.project-details {
  width: 500px;
  margin: 0 auto;
}

.project-imageContainer {
  width: 500px;
}

.project-image {
  display: block;
  margin: auto;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}
/* PADRE EVENT-LIST */
.event-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 5px;
}

.event {
  border: -0.5px solid black;
  -webkit-box-shadow: 1px -1px 12px -2px rgba(0, 0, 0, 0.68);
  box-shadow: 1px -1px 12px -2px rgba(0, 0, 0, 0.68);
  border-radius: 15px;
  overflow: hidden; /* Propiedad que me oculta sobrantes esquinas de bordes */
  margin: 10px;
  width: 450px;
  background-color: #f4fbff;
  /*  flex-shrink: 0; */ /* Para que mi elemento NO pierda las dimensiones, el valor va de 0 a 1  */
}
.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 15px;
  text-align: center;
}
.event img {
  width: 500px;
  height: 200px;
  object-fit: cover; /* Propiedad que me me ubica mejor la imagen cuando le ponemos dimensiones */
}

.event-url {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 25px;
  text-decoration: none;
  color: black;
}
.event-url:hover {
  text-transform: uppercase;
  color: black;
}

.event-url a {
  color: pink;
  text-decoration: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.contact {
  background-color: #1b2127;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;

  margin: 5px;
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
  background-size: 50px 50px;
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
  background-size: 50px 50px;
}
.social-link.github {
  background-image: url("../images/github.svg");
  background-size: 50px 50px;
}
.social-link.instagram {
  background-image: url("../images/instagram.svg");
  background-size: 50px 50px;
}

.form-email {
  font-family: "MuseoModerno", cursive;
  margin-left: 5px;
  display: flex;
}

.form-email input {
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 20px 5px 25px;
  background-image: url("../images/envelope.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 15px 15px;
  background-position-x: 5px;
  font-family: "MuseoModerno", cursive;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.form-email button {
  background-color: transparent;
  color: white;
  border: 1px solid gray;
  border-style: inset;
  display: block;
  /*  margin: 5px 0;
  padding: 10px 0; */
  margin: 15px auto;

  padding: 5px;
  border-radius: 5px;
  width: 100px;
  font-family: "MuseoModerno", cursive;
}
.form-email h3 {
  font-family: "MuseoModerno", cursive;
}

.footer {
  background-color: #f5f6f9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  font-family: "MuseoModerno", cursive;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: black;
  text-decoration: overline;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  height: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
}
